*.pyc
*.png
outs
checkpoints
outs2
kitti_data/
*.pth
our_data/
splits/cityscapes/gt_depths/*
outs_edited


Grounded-SAM-2/
*.zip
*.npy
*.mp4
*.ply
splits/eigen_benchmark/gt_depths.npz
splits/eigen_benchmark/gt_depths.npz
*.bash
1.txt
2.txt
*.bash.*